.*
!.gitattributes
!.gitignore
!.scrutinizer.yml
!.travis.yml
*.log
*.map
clover.xml
scrap.md

/_
/node_modules
/storage
/vendor/*/*

!/vendor/symfony/yaml

/vendor/*.php
/vendor/**/.git*
/vendor/**/Tests
/vendor/**/tests
/vendor/**/*.json
/vendor/**/*.yml
/vendor/**/phar-stub.php
/vendor/**/phpunit.*
/vendor/**/Makefile
/vendor/**/CHANGELOG*
/vendor/**/README*
/vendor/**/UPGRADING*
/vendor/composer/installers
